<div>
  <h1>Names</h1>
  <input type="text" #newName placeholder="New name..."/>
  <button type="button" class="addButton" (click)="addName(newName.value); newName.value=''">ADD</button>
  <table>
    <tr>
      <th>
        <h3>Names:</h3>
      </th>
      
    </tr>
    <!-- <tr *ngFor="let name of names">
      <td>{{name | letterToUpperCase}}</td>
      <td>
        <button (click)="deleteName(name)">&#10005;</button>
      </td>
      
   </tr> -->
   <ul>
     <li *ngFor="let name of names">
       {{name | letterToUpperCase}}
      <button class="delete" (click)="deleteName(name)">&#10005;</button>
     </li>
   </ul>
  </table>
</div>